node_modules/
.idea/
.vscode/
*.log
wrangler-*.log
.wrangler/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Bot Sensitive Data
serviceAccountKey.json
account_pool.json
videoaieasy_session_*.json
bot_chrome_profile/
.run/
*.mp4
*.png
!public/favicon.png
!public/icon-32.png
!public/icon-64.png
!public/icon-180.png
!public/icon-192.png
!public/icon-512.png
*.jpg
!public/favicon.ico
