node_modules/
.idea/
.vscode/
*.log
wrangler-*.log
.wrangler/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Bot Sensitive Data
serviceAccountKey.json
bot_chrome_profile/
*.mp4
*.png
*.jpg
